.container {
   
    margin: 10px auto;
   
   
}
.grid{
    display: grid;
}
.flex{
    display: flex;
}
.popular-movie{
    grid-template-columns: repeat(5,1fr);
  
    grid-gap: 20px;
}

.popular-movie li{
    list-style: none;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.popular-movie{
    padding: 0px;
}
.popular-movie li img{
    max-width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/**Other Details css*/
.otherdetails p {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
    box-sizing: border-box;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 0px!important;
    margin-top: 20px!important;
}

/**Movie Content design*/
.movie-content{
  
    gap: .5em;
   white-space: normal;
}
.movie-content h2{
margin: 0px;
font-size: 1em;
margin: 0;
width: 100%;
word-wrap: normal;
overflow-wrap: break-word
}
.movie-content p {
margin: 0px;

}

/**Movie Details CSS**/
.Movie-Background{
    padding: 40px 0px;
    width: 100%;
    background-size: cover;
}
.moviedetails{
    grid-template-columns: 1fr 2fr;
  
    grid-gap: 20px; 
}
.posters {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    position: relative;
    z-index: 2;
    border-width: 0px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);

}
.poster img{
    border-radius: 8px;
}
/**MovieCrew.js css */
.crewdesign p:first-child {
    font-weight: 800;
    margin-bottom: 0px;
}
.movie-crew{
    grid-template-columns: repeat(3,3fr);
    padding: 0px;
    list-style: none;
}
.movie-crews{
    grid-column: 1/11;
}
.movie-facts{
grid-column:12/13;
width:200px;
}
.cast-design{
    grid-template-columns: repeat(6,1fr);
    padding: 0px;
    list-style: none;
    gap:.5em;
  

}

.cast-design img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
       width: 100%;
    height: auto;
}
.cast-design p {
    margin: 4px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1em;
}
.cast-padding{
    padding: 5px;
}
.cast-design li{

    
  
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    margin-bottom: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
}
.movie-review{

}
.reviewauthor{
    font-size: 1.3em!important;
    font-weight: 700;
    margin-bottom: 1em!important;
}
.review-content{
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    padding: 1.25rem;
  
   
}

.review-design{
    grid-template-columns: repeat(2,1fr);
    padding: 0px;
    list-style: none;
    gap: 20px;
}   


.reviewauthor {
    font-size: 1.3em;
    font-weight: 700;
}
.reviewcontent {
    height: 107px;
    white-space: normal;
    color: rgb(77, 77, 77);
    font-size: 1.1em!important;
    line-height: 1.2em;
    /* margin-top: 30px; */
    overflow: hidden;
    text-overflow: ellipsis;
}
/**Recommendation css*/
.recommendation{
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    grid-template-columns:repeat(10,1fr);
    padding: 0px;
    list-style: none;
    gap:10px;

}
.recommendation li{
width: 250px;
}
.recommendation p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .9em;
    font-weight: 700;
}
.recommendation img{
    border-radius: 4px;
}
/**Similar css*/
.similar{
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    grid-template-columns:repeat(10,1fr);
    padding: 0px;
    list-style: none;
    gap:10px;

}
.similar img{
    border-radius: 4px;
}
.similar li{
width: 250px;
}
.similar p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .9em;
    font-weight: 700;
}

/**movie design */
.moviedetailtitle{
    margin: 0;
    padding: 0;
    font-size: 2.2em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
}
.overview-info h3{
    font-weight: 600;
    font-size: 1.3em;
}
.overview-info p{

}

/**Media Query**/

@media only screen and (max-width: 1200px) {
    .review-design{
        grid-template-columns: repeat(1,1fr);
    }
}

@media only screen and (max-width: 991px) {
    
    .movie-crews {
        grid-column: 1/10;
    }
  
    .cast-design {
        grid-template-columns: repeat(4,1fr);
        
    }
    .review-design{
        grid-template-columns: repeat(1,1fr);
    }
   
} 

@media only screen and (max-width:  767px) {
    .cast-design {
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        
    }
    .poster{
        text-align: center;
    }
    .movie-padding{
        padding: 0px 15px;
    }
  
    .movie-crews {
        grid-column: 1/13;
    }
    
    .movie-facts {
        grid-column: 1/13;
    }

    .moviedetails{
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }



}
@media only screen and (max-width: 575px) {
    .cast-design {
        grid-template-columns: repeat(2,1fr);

        
    }
    .cast-design li {
        width: 95%!important;
        margin: 0 auto;
    }
    .movie-content {
        padding: 0px;
    }
    .content{
        padding: 0 15px 10px 15px;
    }
    .custom-padding{padding:.5em;}
    
}


@media (min-width: 576px) {.container { max-width: 540px; } }
@media (min-width: 768px) {.container { max-width: 720px; } }
@media (min-width: 992px) {.container { max-width: 960px; }  }
@media (min-width: 1200px){ .container { max-width: 1140px; } }


