.container {
    margin: 10px auto;
    padding: 0px 15px;
}
.grid{
    display: grid;
}
.spinner-design{
    text-align: center;
    padding: 100px 0px;
}
/**Home Css*/
.home-grid{
    
 
}
.upcoming-home{
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    grid-template-columns: repeat(13,1fr);
    padding: 0px;
    list-style: none;
    grid-gap: 10px;
    gap: 10px;
}
.onair-home{
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    grid-template-columns: repeat(13,1fr);
    padding: 0px;
    list-style: none;
    grid-gap: 10px;
    gap: 10px;
}

.nowplaying-home img{
    
    
}

.home-8-13
.ul-genre-design {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0px;
    margin-bottom: 0px;
}

.genre-design {
    margin-right: 5px;
    margin-bottom: 10px;
    line-height: 24px;
    font-size: 0.9em;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: #fff;
    border: 1px solid #d7d7d7;
    color: #000;
    padding: 4px 10px;
    border-radius: 4px;
    list-style: none;
}
.flex{
    display: flex;
}
.header-title{
    font-size: 1.6em!important;
    font-weight: 600;
}
.bg-color img{
    background-color: #dbdbdb;
}
.link{
    color: rgba(0,0,0,0.8);
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
}
.link:hover{
    color:#666666
}
.padding-zero{
    padding: 0px;
}
.movie-tv{
    grid-template-columns: repeat(5,1fr);
  
    grid-gap: 20px;
}

.movie-tv li{
    list-style: none;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.movie-tv{
    padding: 0px;
}
.movie-tv li img{
    max-width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
/**Other Details css*/
.otherdetails p {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 2px;
    box-sizing: border-box;
    line-height: 1em;
    font-weight: 700;
    margin-bottom: 0px!important;
    margin-top: 20px!important;
}

/**Movie Content design*/
.movie-tv-content{
    padding: 15px 10px 12px 10px;
    white-space: normal;
    grid-template-columns: 4fr 1fr;
    gap:20px
}
.movie-tv-content h2{
margin: 0px;
font-size: 1em;
margin: 0;
width: 100%;
word-wrap: normal;
overflow-wrap: break-word
}
.movie-tv-content a{

    color: #000;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;

}
.movie-tv-content a:hover{
    color:  	 #666666
}
.movie-tv-content p {
margin: 0px;

}

/**Movie Details CSS**/
.Movie-Tv-Background{
    padding: 40px 0px;
    width: 100%;
    background-size: cover;
}
.movie-tv-details{
    grid-template-columns: 1fr 3fr;
  
    grid-gap: 20px; 
}
.movie-tv-review{
    margin: 20px 0px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(215, 215, 215);
}
.posters {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    position: relative;
    z-index: 2;
    border-width: 0px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);

}
.poster img{
    border-radius: 8px;
    width: 100%;
    height: auto;
  
}
/**MovieCrew.js css */
.crewdesign p:first-child {
    font-weight: 800;
    margin-bottom: 0px;
}
.crewdesign a {

    margin-bottom: 0px;
    font-size: 1em;
    text-decoration: none;
    color:#000
}
.movie-tv-crew{
    grid-template-columns: repeat(3,3fr);
    padding: 0px;
    list-style: none;
}
.movie-crews{
    grid-column: 1/11;
}
.movie-facts{
grid-column:12/13;
width:200px;
}
.cast-design{
    grid-template-columns: repeat(6,1fr);
    padding: 0px;
    list-style: none;
    gap:.5em;
    margin-bottom: 0px;
  

}

.cast-design img{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
       width: 100%;
    height: auto;
}
.cast-design p {
    margin: 4px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    font-size: 1em;
}
.cast-padding{
    padding: 5px;
}
.cast-padding-bottom{
    border-bottom: 1px solid rgb(215, 215, 215);
    padding-bottom: 20px;
}
.cast-design li{
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
}

.reviewauthor{
    font-size: 1.3em!important;
    font-weight: 700;
    margin-bottom: 1em!important;
}
.review-content{
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    padding: 1.25rem;
    font-size: 1rem;
  
   
}

.review-design{
    grid-template-columns: repeat(2,1fr);
    padding: 0px;
    list-style: none;
    gap: 20px;
    margin-bottom: 0px;
}   


.reviewauthor {
    font-size: 1.3em;
    font-weight: 700;
}
.reviewcontent {
    height: 107px;
    white-space: normal;
    color: rgb(77, 77, 77);
    font-size: 1.1em!important;
    line-height: 1.2em;
    /* margin-top: 30px; */
    overflow: hidden;
    text-overflow: ellipsis;
}
/**Recommendation css*/
.recommendation{
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    grid-template-columns:repeat(10,1fr);
    padding: 0px;
    list-style: none;
    gap:10px;

}
.recommendation li{
width: 250px;
}
.recommendation p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .9em;
    

    font-size: 1em;
    font-weight: 500;
    margin-bottom: 10px;

}
.recommendation img{
    border-radius: 4px;
}
/**Similar css*/
.similar{
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    grid-template-columns:repeat(10,1fr);
    padding: 0px;
    list-style: none;
    gap:10px;

}
.similar img{
    border-radius: 4px;
}
.similar li{
width: 250px;
}
.similar p{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .9em;
    

    font-size: 1em;
    font-weight: 500;
    margin-bottom: 10px;
}

/**movie design */

.movie-tv-detailtitle{
    margin: 0;
    padding: 0;
    font-size: 2.2em;
    line-height: 1.1em;
    font-weight: 700;
    display: inline-block;
}
.overview-info h3{
    font-weight: 600;
    font-size: 1.3em;
}
/** All Cast css*/
.background{
    background: rgba(18.24%, 18.43%, 19.61%, 1);
    padding: 10px 0px;
}
.background img{
    width: 68px;
    height: 90px;
    object-fit: cover;
    border-radius: 4px;
}
.align-center{
    align-items: center;
}
.allcastgrid{
    grid-template-columns: 1fr 1fr;
}
.allcastgrid ul{
    padding: 0px;
}
.allcastgrid li {
    list-style: none;
    
}
.allcastflex{
    text-align: left;
    margin-top: 10px;
    margin-right: 0;
    display: flex;
    justify-content: flex-start;
    
    align-items: center;
 
}

.count{
    display: flex;
    align-items: center;
}
.count h2 {
    margin: 0;
}
.count span{
    font-weight: 400;
    opacity: 0.6;
    font-size: 1.4em;
    margin: 0 10px;
}
.allcastflex p {
    margin:0px;
    font-size:1em;
    font-weight: 700;
}
.allcastflex img{
    border-radius: 4px;
    background-color: #dbdbdb;
    background-size: 50%;
    border: 1px solid #d7d7d7;
}
.noImage{
    width: 66px;
    height: 66px;
}
.allcastpad{
    padding: 0px 15px;
}
.allcast-content{
    padding: 0px 20px;
    color:#fff

}
.allcast-content h2{
    font-size: 2.6em;
    font-weight: 700;
    margin: 0px;
}
.allcast-content a{
text-decoration: none;
color:#fff;
opacity: 0.6;
font-size: 1em;
font-weight:700;
}

.card-body{
  

    white-space: normal;
 
 
    line-height: 1.2em;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
}
.card-body p{
    font-size: 1em;
}
/**All Review*/
.review-grid{
    grid-template-columns: 3fr 1fr;
    gap:20px
}
.review-grid ul {
    padding: 0px;
}
.review-grid ul li{
    list-style: none;
}
.card{
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px ;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem; 
    padding:10px 20px;
}
.view-all-right{
    float: right;
    margin-top: 10px;
}
.view-all-left{
   font-size: 1.8em;
   font-weight: 700;
}
.text-center{
    text-align: center;
    margin-top: 10px;
}
.review-info h2,p{
margin:10px 0px 0px 0px;
}
.review-info {
    margin: 0px;
    }

.btn-design{
    font-size: 12px;
    color: #fff;
    background-color: #212121;
    padding: 5px 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 28px;
    transition: ease .3s all;
    cursor: pointer;
    border-radius: 5px;
    margin: 0px 5px;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.section-bg{
    background-color: #343a40!important;
  
}
.footer-padding{
    padding: 40px 0px;
}
.footer-grid{
    grid-template-columns: 1fr 1fr 2fr;
}
.footer-grid h2{
    color:#fff;
    margin-top: 0px;
}
.footer-grid ul{
    padding: 0px;
}
.footer-grid ul  li{
    text-decoration: none;
    list-style: none;
    margin: .2em 0px;
}
.footer-grid ul li a{
  color:#fff;
padding: 5px 0px;
  text-decoration: none;
    
}
.footer-grid p{
    color:#fff;
    text-align: justify;
    font-size: 17px;
      
  }
.footer-grid ul  a:hover{
    text-decoration: none;
}
/**Media Query**/

@media only screen and (max-width: 1200px) {
    .review-design{
        grid-template-columns: repeat(2,1fr);
    }
}

@media only screen and (max-width: 991px) {
    
   .movie-tv-content{
    grid-template-columns: 1fr
   }
   
  
    .cast-design {
        grid-template-columns: repeat(4,1fr);
        
    }
    .review-design{
        grid-template-columns: repeat(1,1fr);
    }
    .movie-tv{
        grid-template-columns: repeat(3,1fr);
    }
   
} 

@media only screen and (max-width:  767px) {

    .footer-grid{
        grid-template-columns:1fr;
    }
    .movie-tv{
        grid-template-columns: repeat(3,1fr);
    }
    .cast-design {
        grid-template-columns: repeat(3,1fr);
        gap: 10px;
        
    }
    .poster{
        text-align: center;
    }
    .movie-tv-padding{
        padding: 0px 15px;
    }
  
    .movie-crews {
        grid-template-rows: 1/13;
    }
   
    
    .movie-facts {
        grid-column: 1/13;
    }

    .movie-tv-details{
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }

    .review-grid{
        grid-template-columns: 1fr;
    }

}
@media only screen and (max-width: 575px) {
    .movie-tv{
        grid-template-columns: repeat(2,1fr);
    }
    .cast-design {
        grid-template-columns: repeat(2,1fr);


        
    }
    .cast-design li {
        width: 95%!important;
        margin: 0 auto;
    }
    .movie-tv-content {
        padding: 0px;
    }
    .content{
        padding: 0 15px 10px 15px;
    }
    .custom-padding{padding:.5em;}
    

}
@media only screen and (max-width: 420px) {
    .allcastgrid{
        grid-template-columns: 1fr;
    }
    
   
}


@media (min-width: 576px) {.container { max-width: 540px; } }
@media (min-width: 768px) {.container { max-width: 720px; } }
@media (min-width: 992px) {.container { max-width: 960px; }  }
@media (min-width: 1200px){ .container { max-width: 1140px; } }


